/node_modules
/public/hot
/public/storage
/public/css/*
!/public/css/slimselect.min.css
/public/js/*
!/public/js/uikit-icons.min.js
!/public/js/uikit.min.js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
